
<div class="recipes">
    <div class="container">
        <h1 class="text-center">Your Recipes</h1>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="card">
                    <div class="card-img">
                        <img src="/lib/Images/plate.jpg" class="img-fluid" />
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Post Title</h4>
                        <p class="card-text">
                            This is the text. Please work and look good.
                        </p>
                    </div>

                    <div class="card-footer">
                        <a href="" class="card-link">Read more</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="card">
                    <div class="card-img">
                        <img src="/lib/Images/burger.jpg" class="img-fluid" />
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Post Title</h4>
                        <p class="card-text">
                            This is the text. It worked well!
                        </p>
                    </div>

                    <div class="card-footer">
                        <a href="" class="card-link">Read more</a>
                    </div>
                </div>


            </div>

            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="card">
                    <div class="card-img">
                        <img src="/lib/Images/plate.jpg" class="img-fluid" />
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Post Title</h4>
                        <p class="card-text">
                            This is the text. Please work and look good.
                        </p>
                    </div>

                    <div class="card-footer">
                        <a href="" class="card-link">Read more</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="card">
                    <div class="card-img">
                        <img src="/lib/Images/plate.jpg" class="img-fluid" />
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Post Title</h4>
                        <p class="card-text">
                            This is the text. Please work and look good.
                        </p>
                    </div>

                    <div class="card-footer">
                        <a href="" class="card-link">Read more</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="card">
                    <div class="card-img">
                        <img src="/lib/Images/burger.jpg" class="img-fluid" />
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Post Title</h4>
                        <p class="card-text">
                            This is the text. It worked well!
                        </p>
                    </div>

                    <div class="card-footer">
                        <a href="" class="card-link">Read more</a>
                    </div>
                </div>


            </div>

            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="card">
                    <div class="card-img">
                        <img src="/lib/Images/plate.jpg" class="img-fluid" />
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Post Title</h4>
                        <p class="card-text">
                            This is the text. Please work and look good.
                        </p>
                    </div>

                    <div class="card-footer">
                        <a href="" class="card-link">Read more</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="card">
                    <div class="card-img">
                        <img src="/lib/Images/plate.jpg" class="img-fluid" />
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Post Title</h4>
                        <p class="card-text">
                            This is the text. Please work and look good.
                        </p>
                    </div>

                    <div class="card-footer">
                        <a href="" class="card-link">Read more</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="card">
                    <div class="card-img">
                        <img src="/lib/Images/burger.jpg" class="img-fluid" />
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Post Title</h4>
                        <p class="card-text">
                            This is the text. It worked well!
                        </p>
                    </div>

                    <div class="card-footer">
                        <a href="" class="card-link">Read more</a>
                    </div>
                </div>


            </div>

            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="card">
                    <div class="card-img">
                        <img src="/lib/Images/plate.jpg" class="img-fluid" />
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Post Title</h4>
                        <p class="card-text">
                            This is the text. Please work and look good.
                        </p>
                    </div>

                    <div class="card-footer">
                        <a href="" class="card-link">Read more</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>