<div class="recipe-style">
    <div class="container">
        <h1>Recipe Title</h1>
        <h2>Chef Name</h2>

        <img src="/lib/Images/plate.jpg" style="width: 800px; height: 500px;" class="img-fluid"  />

        <h2>Nutrition Information</h2>
        <ul>
            <li>Protein</li>
            <li>Carbs</li>
            <li>Fats</li>
        </ul>
        <h2>Recipe Directions</h2>
        <ol>
            <li>Step One Do This</li>
            <li>Step Two Do This</li>
            <li>Step Three Do This</li>
            <li>Step Four Do This</li>

        </ol>
        <h2>Comments</h2>


</div>
    
